/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color styles */
    --dark-gray: #2C3E50;
    --green: #1ABC9C;
    --white: #FFFFFF;
    --light-gray: #3A546D;
    --black: #333333;
}


/* header */
header{
    background-color: var(--dark-gray);
}

/* Main */

/* Section hero */

.ah-green{
    background-color: var(--green);
}

.ah-card{
    text-align: center;
    color: var(--white);
}

.ah-card img{
    width: 40%;
}

i.fa-star{
    padding: 10px;
    font-size: 1.5rem;
}

.ah-linea{
    border-top: 5px solid var(--white);
    width: 100px;
    border-radius: 20px;
}