/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color styles */
    --dark-gray: #2C3E50;
    --green: #1ABC9C;
    --white: #FFFFFF;
    --light-gray: #3A546D;
    --black: #333333;
}

img{
    width: 100%;
}

/* header */
header{
    background-color: var(--dark-gray);
}

/* Nav */

#mynav a, .fa-bars{
    color: var(--white);
    transition: color 0.5s;
}

#mynav a:hover, .fa-bars:hover{
    color: var(--green);
}

.ah-hamburger-border{
    border: 1px solid var(--white);
}
/* Main */

/* Section hero */

.ah-odd{
    background-color: var(--green);
}

.ah-card{
    text-align: center;
    color: var(--white);
}

.ah-card img{
    max-width: 250px;
}

i.fa-star{
    padding: 10px;
    font-size: 1.5rem;
}

.ah-linea{
    border-top: 5px solid;
    border-radius: 20px;
    width: 200px;
}

/* section cards */

.ah-black{
    color: var(--black);
}

.ah-img-container{
    position: relative;
    cursor: pointer;
}

.ah-img-container::after{
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(26, 186, 156, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    color: var(--white);
}

.ah-img-container:hover:after{
    opacity: 1;
}
/* footer */


#ah-footer-top{
    background-color: var(--light-gray);
}

#ah-footer-bottom{
    background-color: var(--dark-gray);
}

.ah-circle{
    width: 50px;
    height: 50px;   
    cursor: pointer;
    transition: all 0.5s;
}

.ah-circle:hover{
    background-color: var(--green);
    opacity: 0.8;
}

.green{
    color: var(--green);
    cursor: pointer;
}

.green:hover{
    text-decoration: underline;
}